{% extends "blog/base.html" %}
{% load static %}

{% block title %}
Anasayfa
{% endblock %}

{% block body %}
    <h1>Anasayfa</h1>
    {% if isim %}
        <p>Merhaba {{ isim }}, gönderi listesi için <a href="{% url "listele" %}">tıklayınız</a></p>
        <img src="{% static "blog/img/webdev.gif" %}">
    {% else %}
        <form action="." method="POST">
            {% csrf_token %}
            <label>
                Adınız Nedir
                <input id="isim" name="isim" type="text">
            </label>
            <button type="submit">Gönder</button>
        </form>
    {% endif %}
{% endblock %}
