{% extends "blog/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}
Anasayfa
{% endblock %}

{% block body %}
    <h1>Anasayfa</h1>
    {% if isim %}
        <p>Merhaba {{ isim }}</p>
    {% else %}
        <form action="." method="POST">
            {% csrf_token %}
            <label>
                Adınız Nedir
                <input id="isim" name="isim" type="text">
            </label>
            <button type="submit">Gönder</button>
        </form>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "blog/css/anasayfa.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "blog/js/anasayfa.js" %}"></script>
{% endblock %}